Repository OMC-Oh-My-Car/OMC, pull requests merged in 2023-01, with the labels that each got.

#3 Chore #2 초기세팅
  server/.gitignore
  server/build.gradle
  server/gradle/wrapper/gradle-wrapper.jar
  server/gradle/wrapper/gradle-wrapper.properties
  server/gradlew
  server/gradlew.bat
  server/settings.gradle
  server/src/main/java/com/omc/OmcApplication.java
  server/src/main/java/com/omc/domain/member/api/MemberController.java
  server/src/main/java/com/omc/domain/member/dto/MemberDto.java
  server/src/main/java/com/omc/domain/member/entity/Member.java
  server/src/main/java/com/omc/domain/member/exception/.gitkeep
  server/src/main/java/com/omc/domain/member/repository/MemberRepository.java
  server/src/main/java/com/omc/domain/member/service/MemberService.java
  server/src/main/java/com/omc/domain/product/api/ProductController.java
  server/src/main/java/com/omc/domain/product/dto/ProductDto.java
  server/src/main/java/com/omc/domain/product/entity/Product.java
  server/src/main/java/com/omc/domain/product/exception/.gitkeep
  server/src/main/java/com/omc/domain/product/repository/ProductRepository.java
  server/src/main/java/com/omc/domain/product/service/ProductService.java
  server/src/main/java/com/omc/domain/report/api/ReportController.java
  server/src/main/java/com/omc/domain/report/dto/ReportDto.java
  server/src/main/java/com/omc/domain/report/entity/Report.java
  server/src/main/java/com/omc/domain/report/exception/.gitkeep
  server/src/main/java/com/omc/domain/report/repository/ReportRepository.java
  server/src/main/java/com/omc/domain/report/service/ReportService.java
  server/src/main/java/com/omc/domain/reservation/api/ReservationController.java
  server/src/main/java/com/omc/domain/reservation/dto/ReservationDto.java
  server/src/main/java/com/omc/domain/reservation/entity/Reservation.java
  server/src/main/java/com/omc/domain/reservation/exception/.gitkeep
  server/src/main/java/com/omc/domain/reservation/repository/ReservationRepository.java
  server/src/main/java/com/omc/domain/reservation/service/ReservationService.java
  server/src/main/java/com/omc/domain/review/api/ReviewController.java
  server/src/main/java/com/omc/domain/review/dto/ReviewDto.java
  server/src/main/java/com/omc/domain/review/entity/Review.java
  server/src/main/java/com/omc/domain/review/exception/.gitkeep
  server/src/main/java/com/omc/domain/review/repository/ReviewRepository.java
  server/src/main/java/com/omc/domain/review/service/ReviewService.java
  server/src/main/java/com/omc/global/common/BaseEntity.java
  server/src/main/java/com/omc/global/common/annotation/AuthMember.java
  server/src/main/java/com/omc/global/common/dto/MultiResponse.java
  server/src/main/java/com/omc/global/common/dto/PageInfo.java
  server/src/main/java/com/omc/global/common/dto/SingleResponseDto.java
  server/src/main/java/com/omc/global/config/security/SecurityConfig.java
  server/src/main/java/com/omc/global/error/ErrorCode.java
  server/src/main/java/com/omc/global/error/ErrorResponse.java
  server/src/main/java/com/omc/global/error/GlobalExceptionHandler.java
  server/src/main/java/com/omc/global/error/exception/BusinessException.java
  server/src/main/java/com/omc/global/util/.gitkeep
  server/src/main/java/com/omc/infra/email/.gitkeep
  server/src/main/java/com/omc/infra/sms/.gitkeep
  server/src/main/resources/application-dev.yml
  server/src/main/resources/application-prod.yml
  server/src/main/resources/application-test.yml
  server/src/main/resources/application.yml
  server/src/test/java/com/omc/OmcApplicationTests.java
Labels: chore, server

#9 [FE] Chore/1 client 초기세팅
  client/.eslintrc.json
  client/.prettierrc.json
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/.env.example
  client/src/App.js
  client/src/App.jsx
  client/src/assets/images/dummy.png
  client/src/components/dummy/Dummy.jsx
  client/src/components/dummy/Dummy.styled.js
  client/src/index.js
  client/src/modules/index.js
  client/src/modules/login/dummy.js
  client/src/modules/signup/dummy.js
  client/src/pages/LandingPage.jsx
  client/src/pages/LandingPage.styled.js
  client/src/redux/Store.js
  client/src/redux/slice/CounterSlice.js
  client/src/router/Router.jsx
  client/src/style/GlobalStyles.js
  client/src/style/Theme.js
  client/src/utils/dummy.js
Labels: chore, 🧑‍💻 shinker1002, client

#11 [FE] Chore: export default 형식 변경
  client/src/App.jsx
  client/src/components/dummy/Dummy.jsx
  client/src/pages/LandingPage.jsx
Labels: chore, 🧑‍💻 shinker1002, client

#12 [FE] Chore/1 client 초기세팅
  client/src/App.jsx
  client/src/components/dummy/Dummy.jsx
  client/src/pages/LandingPage.jsx
Labels: chore, 🧑‍💻 shinker1002, client

#14 [FE] Chore/1 client 초기세팅
  client/public/index.html
  client/src/style/GlobalStyles.js
Labels: chore, 🧑‍💻 shinker1002, client

#7 [BE] Feat #5 이미지 업로드
  server/build.gradle
  server/src/main/java/com/omc/domain/img/dto/ImgDto.java
  server/src/main/java/com/omc/domain/img/entity/Img.java
  server/src/main/java/com/omc/domain/img/repository/ImgRepository.java
  server/src/main/java/com/omc/domain/product/api/ProductController.java
  server/src/main/java/com/omc/domain/product/dto/ProductDto.java
  server/src/main/java/com/omc/domain/product/entity/Product.java
  server/src/main/java/com/omc/domain/product/service/ProductService.java
  server/src/main/java/com/omc/global/error/ErrorCode.java
  server/src/main/java/com/omc/global/util/.gitkeep
  server/src/main/java/com/omc/global/util/S3Service.java
  server/src/main/resources/application.yml
Labels: feat, 🧑‍💻 Taekgil99, server

#16 [FE] Feat/15 client 헤더UI
  client/package-lock.json
  client/package.json
  client/src/assets/images/logo.png
  client/src/components/header/Header.jsx
  client/src/components/header/Header.styled.js
  client/src/components/header/nav/Nav.jsx
  client/src/components/header/nav/Nav.styled.js
  client/src/components/header/nav/logo/Logo.jsx
  client/src/components/header/nav/logo/Logo.styled.js
  client/src/components/header/nav/searchInput/SearchInput.jsx
  client/src/components/header/nav/searchInput/SearchInput.styled.js
  client/src/components/header/nav/user/HeaderUser.jsx
  client/src/components/header/nav/user/HeaderUser.styled.js
  client/src/components/header/nav/user/button/Button.jsx
  client/src/components/header/nav/user/button/Button.styled.js
  client/src/components/header/nav/user/userInfo/UserInfo.jsx
  client/src/components/header/nav/user/userInfo/UserInfo.style.js
  client/src/components/header/nav/user/userInfo/UserInfoDetail.jsx
  client/src/components/header/nav/user/userInfo/UserInfoDetail.style.js
  client/src/pages/LandingPage.jsx
  client/src/pages/LandingPage.styled.js
  client/src/style/Theme.js
Labels: feat, 🧑‍💻 shinker1002, client

#18 [FE] Feat/17 client 상품리스트
  client/src/components/dummy/Dummy.jsx
  client/src/components/dummy/Dummy.styled.js
  client/src/components/header/Header.jsx
  client/src/components/header/Header.style.js
  client/src/components/header/nav/Nav.jsx
  client/src/components/header/nav/Nav.style.js
  client/src/components/header/nav/Nav.styled.js
  client/src/components/header/nav/logo/Logo.jsx
  client/src/components/header/nav/logo/Logo.style.js
  client/src/components/header/nav/searchInput/SearchInput.jsx
  client/src/components/header/nav/searchInput/SearchInput.style.js
  client/src/components/header/nav/user/HeaderUser.jsx
  client/src/components/header/nav/user/HeaderUser.style.js
  client/src/components/header/nav/user/button/Button.jsx
  client/src/components/header/nav/user/button/Button.style.js
  client/src/components/productList/ProductList.jsx
  client/src/components/productList/ProductList.style.js
  client/src/components/productList/productItem/ProductItem.jsx
  client/src/components/productList/productItem/ProductItem.style.js
  client/src/pages/LandingPage.jsx
  client/src/pages/LandingPage.style.js
  client/src/pages/ProductListPage.jsx
  client/src/pages/ProductListPage.style.js
  client/src/router/Router.jsx
Labels: feat, 🧑‍💻 shinker1002, client

#21 [FE] Feat/17 client 상품리스트
  client/src/assets/images/heart-regular.svg
  client/src/assets/images/heart-solid.svg
  client/src/components/productList/ProductList.jsx
  client/src/components/productList/ProductList.style.js
  client/src/components/productList/productItem/ProductItem.jsx
  client/src/components/productList/productItem/ProductItem.style.js
  client/src/data/data.json
  client/src/style/Theme.js
Labels: feat, 🧑‍💻 shinker1002, client

#22 Feat/13 client 회원가입
  client/src/components/signUp/SignUp.jsx
  client/src/components/signUp/SignUp.style.js
  client/src/components/signUp/signUpForm/OrangeButton.jsx
  client/src/components/signUp/signUpForm/OrangeButton.style.js
  client/src/components/signUp/signUpForm/SignUpInputBox.jsx
  client/src/components/signUp/signUpForm/SignUpInputBox.style.js
  client/src/components/signUp/signUpForm/WhiteButton.jsx
  client/src/components/signUp/signUpForm/WhiteButton.style.js
  client/src/pages/SignUpPage.jsx
  client/src/pages/SignUpPage.style.js
  client/src/style/Theme.js
  package-lock.json
Labels: 🧑‍💻 nahoyeon, feat, client

#26 [FE] Feat/17 client 상품리스트
  client/.env.example
  client/data/data.json
  client/data/index.js
  client/package-lock.json
  client/package.json
  client/src/components/pagination/Pagination.jsx
  client/src/components/pagination/Pagination.style.js
  client/src/components/productList/ProductList.jsx
  client/src/components/productList/ProductList.style.js
  client/src/components/productList/productItem/ProductItem.jsx
  client/src/components/productList/productItem/ProductItem.style.js
  client/src/components/productList/productItem/ProductItemSkeleton.jsx
  client/src/components/productList/productItem/ProductItemSkeleton.style.js
  client/src/index.js
  client/src/modules/product/productList.js
  client/src/pages/ProductListPage.jsx
  client/src/pages/ProductListPage.style.js
Labels: feat, 🧑‍💻 shinker1002, client

#32 [FE] Feat/29 client 유저(개인)정보
  client/src/components/userInfo/ UserInfo.jsx
  client/src/components/userInfo/ UserInfo.style.js
  client/src/components/userInfo/userInfoForm/BlackButton.jsx
  client/src/components/userInfo/userInfoForm/BlackButton.style.js
  client/src/components/userInfo/userInfoForm/ChangeButton.jsx
  client/src/components/userInfo/userInfoForm/ChangleButton.style.js
  client/src/components/userInfo/userInfoForm/EmailModal.jsx
  client/src/components/userInfo/userInfoForm/EmailModal.style.js
  client/src/components/userInfo/userInfoForm/HomeModal.jsx
  client/src/components/userInfo/userInfoForm/HomeModal.style.js
  client/src/components/userInfo/userInfoForm/InfoChange.jsx
  client/src/components/userInfo/userInfoForm/InfoChange.style.js
  client/src/components/userInfo/userInfoForm/NameModal.jsx
  client/src/components/userInfo/userInfoForm/NameModal.style.js
  client/src/components/userInfo/userInfoForm/PhoneModal.jsx
  client/src/components/userInfo/userInfoForm/PhoneModal.style.js
  client/src/components/userInfo/userInfoForm/UserInfoInputBox.jsx
  client/src/components/userInfo/userInfoForm/UserInfoInputBox.style.js
  client/src/pages/UserInfoPage.jsx
  client/src/pages/UserInfoPage.style.js
Labels: 🧑‍💻 nahoyeon, feat, client

#33 [FE] Feat/27 client 상품디테일페이지
  client/data/data.json
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/components/header/nav/Nav.style.js
  client/src/components/map/KakaoMap.jsx
  client/src/components/map/KakaoMap.style.js
  client/src/components/productDetail/ProductCalendarModal.jsx
  client/src/components/productDetail/ProductCalendarModal.style.js
  client/src/components/productDetail/ProductImage.jsx
  client/src/components/productDetail/ProductImage.style.js
  client/src/components/productDetail/ProductInfo.jsx
  client/src/components/productDetail/ProductInfo.style.js
  client/src/components/productDetail/ProductMap.jsx
  client/src/components/productDetail/ProductMap.style.js
  client/src/components/productDetail/ProductReservation.jsx
  client/src/components/productDetail/ProductReservation.style.js
  client/src/components/productDetail/ProductReview.jsx
  client/src/components/productDetail/ProductReview.style.js
  client/src/components/productList/ProductList.style.js
  client/src/pages/ProductDetailPage.jsx
  client/src/pages/ProductDetailPage.style.js
  client/src/pages/ProductListPage.jsx
  client/src/pages/ProductListPage.style.js
  client/src/router/Router.jsx
Labels: feat, 🧑‍💻 shinker1002, client

#35 [FE] Feat/34 client 사용자 상품 예약 리스트
  client/data/data.json
  client/src/components/productList/productItem/ProductItemSkeleton.style.js
  client/src/components/userReservation/UserReservationEmpty.jsx
  client/src/components/userReservation/UserReservationEmpty.style.js
  client/src/components/userReservation/UserReservationItem.jsx
  client/src/components/userReservation/UserReservationItem.style.js
  client/src/components/userReservation/UserReservationItemSkeleton.jsx
  client/src/components/userReservation/UserReservationItemSkeleton.style.js
  client/src/components/userReservation/UserReservationList.jsx
  client/src/components/userReservation/UserReservationList.style.js
  client/src/modules/userReservation/userReservation.js
  client/src/pages/UserReservationPage.jsx
  client/src/pages/UserReservationPage.style.js
  client/src/router/Router.jsx
Labels: feat, 🧑‍💻 shinker1002, client

#38 [FE] Feat/36 client 판매자페이지
  client/data/data.json
  client/src/components/sellerProductList/SellerProductItem.jsx
  client/src/components/sellerProductList/SellerProductItem.style.js
  client/src/components/sellerProductList/SellerProductItemSkeleton.jsx
  client/src/components/sellerProductList/SellerProductItemSkeleton.style.js
  client/src/components/sellerProductList/SellerProductList.jsx
  client/src/components/sellerProductList/SellerProductList.style.js
  client/src/components/sellerProductList/SellerProductListEmpty.jsx
  client/src/components/sellerProductList/SellerProductListEmpty.style.js
  client/src/components/sellerReservation/SellerReservationItem.jsx
  client/src/components/sellerReservation/SellerReservationItem.style.js
  client/src/components/sellerReservation/SellerReservationItemSkeleton.jsx
  client/src/components/sellerReservation/SellerReservationItemSkeleton.style.js
  client/src/components/sellerReservation/SellerReservationList.jsx
  client/src/components/sellerReservation/SellerReservationList.style.js
  client/src/components/sellerReservation/SellerReservationListEmpty.jsx
  client/src/components/sellerReservation/SellerReservationListEmpty.style.js
  client/src/modules/sellerProductList/sellerProductList.js
  client/src/modules/sellerReservation/sellerReservation.js
  client/src/pages/SellerProductListPage.js
  client/src/pages/SellerProductListPage.style.js
  client/src/pages/SellerReservationPage.jsx
  client/src/pages/SellerReservationPage.style.js
  client/src/router/Router.jsx
Labels: feat, 🧑‍💻 shinker1002, client

#41 [FE] Feat/40 client 상품등록페이지
  client/package-lock.json
  client/package.json
  client/src/assets/images/imageUpload.png
  client/src/components/sellerProductAdd/SellerProductAddContent.jsx
  client/src/components/sellerProductAdd/SellerProductAddContent.style.js
  client/src/components/sellerProductAdd/SellerProductAddImage.jsx
  client/src/components/sellerProductAdd/SellerProductAddImage.style.js
  client/src/components/sellerProductAdd/SellerProductAddPostCode.jsx
  client/src/components/sellerProductAdd/SellerProductAddPostCode.style.js
  client/src/components/sellerProductAdd/SellerProductAddPrice.jsx
  client/src/components/sellerProductAdd/SellerProductAddPrice.style.js
  client/src/components/sellerProductAdd/SellerProductAddTag.jsx
  client/src/components/sellerProductAdd/SellerProductAddTag.style.js
  client/src/components/sellerProductAdd/SellerProductAddTitle.jsx
  client/src/components/sellerProductAdd/SellerProductAddTitle.style.js
  client/src/pages/SellerProductAddPage.jsx
  client/src/pages/SellerProductAddPage.style.js
  client/src/router/Router.jsx
Labels: feat, 🧑‍💻 shinker1002, client
